
<header>
    <!-- Fixed navbar -->
    <div class="container">

        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse container" id="navbarCollapse">

                <ul class="navbar-nav mr-auto">

                    <!--naslovna stranica-->
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}" th:classappend="${selectedNavItem == T(com.inovatrend.king.bank.web.NavigationItem).HOME}? 'active'">
                            Bank App
                        </a>
                    </li>

                    <!--prikazi sljedeci link samo ako nitko nije ulogiran-->
                    <li th:if="${#authentication.name == 'anonymousUser'}" class="nav-item" >
                        <a class="nav-link" th:href="@{/user/register}" th:classappend="${selectedNavItem == T(com.inovatrend.king.bank.web.NavigationItem).USER_REGISTRATION}? 'active'">
                            User registration
                        </a>
                    </li>

                    <!-- linkovi za korisnika (ako je netko ulogiran i ima rolu ROLE_USER)-->
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" th:href="@{/user/transaction/order}" th:classappend="${selectedNavItem == T(com.inovatrend.king.bank.web.NavigationItem).MAKE_TRANSACTION}? 'active'">
                            Make transaction
                        </a>
                    </li>
                    <li class="nav-item" sec:authorize="hasRole('ROLE_USER')">
                        <a class="nav-link" th:href="@{/user/transaction/list}" th:classappend="${selectedNavItem == T(com.inovatrend.king.bank.web.NavigationItem).LIST_TRANSACTIONS}? 'active'">
                            My transactions
                        </a>
                    </li>


                    <!-- linkovi za banku (ako je netko ulogiran i ima rolu ROLE_BANK)-->
                    <li class="nav-item" sec:authorize="hasRole('ROLE_BANK')">
                        <a class="nav-link" th:href="@{/bank/transaction/list}" th:classappend="${selectedNavItem == T(com.inovatrend.king.bank.web.NavigationItem).LIST_TRANSACTIONS}? 'active'">Transactions</a>
                    </li>

                </ul>


                <div>
                    <div th:if="${#authentication.name != 'anonymousUser'}">
                        <span class="text-white" th:text="${'Hello ' + #authentication.principal.username}">Username</span> &nbsp &nbsp
                        <a href="/logout"><button class="btn" type="button">Logout</button></a>
                    </div>

                    <ul th:if="${#authentication.name == 'anonymousUser'}" class="navbar-nav mr-auto">
                        <li class="nav-item" >
                            <a class="nav-link" th:href="@{/login}">Login</a>
                        </li>
                    </ul>
                </div>

            </div>

        </nav>

    </div>
</header>