<head>
    <meta charset="UTF-8">
    <title>Bank app</title>
    <link rel="stylesheet" th:href="@{/bootstrap-4.1.3-dist/css/bootstrap.min.css}" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/bank-app.css}" crossorigin="anonymous">
    <style type="text/css">
        body{
            margin-top: 100px;
        }
    </style>
</head>
