<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html"></head>

<body>

<header th:replace="header.html"></header>

<main class="container">

    <h3>Welcome to Bank Application</h3>
    <br/>

    <div th:if="${bankAccount != null}" class="card">

        <h5 class="card-header">Account balance</h5>
        <div class="card-body">
            <table class="table">
                <tr>
                    <td class="border-top-0" width="250">Client</td>
                    <td class="border-top-0">
                        <span th:text="${bankAccount.user.firstName}"></span>
                        <span th:text="${bankAccount.user.lastName}"></span>
                    </td>
                </tr>
                <tr>
                    <td>IBAN</td>
                    <td th:text="${bankAccount.iban}"></td>
                </tr>
                <tr>
                    <td>Current ballance</td>
                    <td th:text="${bankAccount.balance}"></td>
                </tr>
            </table>
        </div>
    </div>

</main>

<footer th:replace="footer.html"></footer>

</body>
</html>