<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html"></head>

<body>

<header th:replace="header.html"></header>

<main class="container">


    <div class="card">

        <h5 class="card-header">Transactions</h5>
        <div class="card-body" style="padding: 3rem;">

            <div class="alert alert-danger alert-dismissible fade show" th:if="${errorMessage != null}" role="alert">
                <h4 th:text="${errorMessage}"> Error occured</h4>
            </div>

            <div class="alert alert-success alert-dismissible fade show" th:if="${infoMessage != null}" role="alert">
                <h4 th:text="${infoMessage}"> Info message</h4>
            </div>

            <form method="get">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Filter by status</label>
                    <div class="col-sm-4">
                        <select class="form-control" name="transactionStatus" onchange="this.form.submit()">
                            <option selected value=""> -- show all --</option>
                            <option th:each="status : ${T(com.inovatrend.king.bank.domain.TransactionStatus).values()}"
                                    th:value="${status}"
                                    th:text="${status}"
                                    th:selected="${transactionStatus == status}">
                            </option>
                        </select>
                    </div>
                </div>
            </form>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" sec:authorize="hasRole('ROLE_BANK')"> Debtor iban</th>
                    <th scope="col">Creditor iban</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created</th>
                    <th scope="col" sec:authorize="hasRole('ROLE_BANK')">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transaction, iStat : ${transactions}">
                    <td sec:authorize="hasRole('ROLE_BANK')" th:text="${transaction.debtorAccount.iban}"></td>
                    <td th:text="${transaction.creditorAccount.iban}"></td>
                    <td th:text="${transaction.amount}"></td>
                    <td th:text="${transaction.status}"></td>
                    <td th:text="${#temporals.format(transaction.created, 'dd-MM-yyyy HH:mm:ss')}"></td>
                    <td sec:authorize="hasRole('ROLE_BANK')">
                        <div>
                            <a href="#" class="btn btn-secondary btn-sm" data-toggle="modal"
                               th:attr="data-target='#detailsModal'+${transaction.id}">Details</a>

                            <a th:href="@{execute(transactionId=${transaction.id}, page=${pageNumber}, transactionStatus=${transactionStatus})}"
                               th:if="${transaction.status == T(com.inovatrend.king.bank.domain.TransactionStatus).PENDING}"
                               class="btn btn-success btn-sm" role="button">Approve</a>

                            <a th:href="@{reject(transactionId=${transaction.id}, page=${pageNumber}, transactionStatus=${transactionStatus})}"
                               th:if="${transaction.status == T(com.inovatrend.king.bank.domain.TransactionStatus).PENDING}"
                               class="btn btn-danger btn-sm" role="button">Reject</a>

                            <!-- Modal -->
                            <div class="modal fade" th:id="'detailsModal'+${transaction.id}" tabindex="-1" role="dialog"
                                 aria-labelledby="exampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" th:text="'Details for transaction ID='+${transaction.id}">Modal title</h5>
                                        </div>
                                        <div class="modal-body">

                                            <div> Amount: <span th:text="${transaction.amount}"></span>, Transaction Status: <span
                                                    th:text="${transaction.status}"></span></div>

                                            <div>
                                                Creditor info: name: <span
                                                    th:text="${transaction.creditorAccount.user.firstName + ' ' + transaction.creditorAccount.user.lastName}"></span>
                                                , IBAN: <span th:text="${transaction.creditorAccount.iban}"></span>
                                            </div>

                                            <div>
                                                Debtor info: name: <span
                                                    th:text="${transaction.debtorAccount.user.firstName + ' ' + transaction.debtorAccount.user.lastName}"></span>
                                                , IBAN: <span th:text="${transaction.debtorAccount.iban}"></span>
                                            </div>

                                            <!--
                                                                               <table class="table">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th scope="col"></th>
                                                                                        <th scope="col">Debtor</th>
                                                                                        <th scope="col">Creditor</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr>
                                                                                        <th scope="row">User</th>
                                                                                        <td th:text="${transaction.debtorAccount.user.firstName + transaction.debtorAccount.user.lastName}"></td>
                                                                                        <td th:text="${transaction.creditorAccount.user.firstName + transaction.creditorAccount.user.lastName}"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th scope="row">IBAN</th>
                                                                                        <td th:text="${transaction.debtorAccount.iban}"></td>
                                                                                        <td th:text="${transaction.creditorAccount.iban}"></td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                            -->
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

            <div th:if="${pageNumbers != null}">
                <nav aria-label="...">
                    <ul class="pagination justify-content-center">
                        <li th:each="pageNumber : ${pageNumbers}" th:class="${pageNumber == currentPage ? 'page-item active' : 'page-item'}">
                            <a class="page-link" th:href="@{''(page=${pageNumber}, transactionStatus=${transactionStatus})}"
                               th:text="${pageNumber}"></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</main>

<footer th:replace="footer.html"></footer>

</body>
</html>
