<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html"></head>

<body>

<header th:replace="header.html"></header>

<main class="container">

    <div class="alert alert-danger" th:if="${errorMessage != null}">
        <h4 th:text="${errorMessage}"> Error occured</h4>
    </div>


    <div class="card">

        <h5 class="card-header">Make transaction</h5>
        <div class="card-body">

            <form class="mx-auto" th:object="${transaction}" method="post" style="width: 30rem; margin: 5rem 0 5rem 0">

                <div class="form-group">
                    <label>Creditor Iban</label>
                    <input type="text" class="form-control" th:field="*{creditorIban}" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Amount</label>
                    <input type="number" step="0.01" min="0.00" class="form-control" th:field="*{amount}" autocomplete="off">
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <h4>There are some errors in your form</h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>

            </form>
        </div>
    </div>

</main>

<footer th:replace="footer.html"></footer>

</body>
</html>