<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html"></head>

<body>

<header th:replace="header.html"></header>

<main class="container">


    <div class="card mx-auto" style="width: 40rem">

        <h5 class="card-header">User registration</h5>
        <div class="card-body">
            <form th:object="${user}" method="post">

                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" th:field="*{username}" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" th:field="*{password}" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>Password again</label>
                    <input type="password" class="form-control" name="passwordRetyped" autocomplete="off">
                </div>

                <div class="form-group">
                    <label>First name</label>
                    <input type="text" class="form-control" th:field="*{firstName}">
                </div>

                <div class="form-group">
                    <label>Last name</label>
                    <input type="text" class="form-control" th:field="*{lastName}">
                </div>

                <div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
                    <h4>There are some errors in your form</h4>
                    <ul>
                        <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                    </ul>
                </div>

                <button type="submit" class="btn btn-primary">Register</button>

            </form>
        </div>
    </div>

</main>
<footer th:replace="footer.html"></footer>

</body>
</html>