<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="head.html"></head>

<body>

<header th:replace="header.html"></header>

<main class="container">

    <div class="card mx-auto" style="width: 40rem">

        <h5 class="card-header">Successfully registered!</h5>
        <div class="card-body">
            <p> You can now <a th:href="@{/login}">log in!</a></p>
        </div>
    </div>
</main>

<footer th:replace="footer.html"></footer>

</body>
</html>